body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    background-color: rgb(15, 171, 15);
    padding: 50px 0px 50px 0px;
    text-align: center;
}
.content p{
    padding: 0px 20px 0px 20px;
    width: 200px;
    color: antiquewhite;
    word-spacing: 5px;
}

.content button{
    margin: 0px 50px 0px 50px;
    background-color: rgb(15, 171, 15);
    color: antiquewhite;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: bold;
    padding: 5px;
}

.login{
    padding: 200px 0px 200px 20px;
    width: 200px;
    height: auto; 
}
.login h1{
    color: rgb(63, 63, 63);
}

.login input{
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
}

.login input::placeholder{
    font-weight: bold;
}

.login button{  
    padding: 10px;
    width: 215px;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    background-color: rgb(15, 171, 15);
    color: antiquewhite;
    font-weight: bold;
    margin-bottom: 10px;
}

.login label a{
    font-size: small;
    /* padding: 10px; */
    color: rgb(15, 171, 15);
    text-decoration: none;
}

